[Desktop Entry]
Type=Application
Name=Flycast Prism Editor
Comment=Editor for Flycast G-Buffer EXR files
Exec=flycast-prism-editor
Icon=logo-prism
Categories=Graphics;Viewer;
Terminal=false
